<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516813002448-enduojpg539k3nadr29n9grec1o7rh6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516813002448-enduojpg539k3nadr29n9grec1o7rh6c</string>
	<key>API_KEY</key>
	<string>AIzaSyDkvclznEY_ZnqR9nkz3cEa5OuPH-mclpM</string>
	<key>GCM_SENDER_ID</key>
	<string>516813002448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nevoapps.todo2</string>
	<key>PROJECT_ID</key>
	<string>todo-simple-task-app</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-simple-task-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516813002448:ios:a1ee346a97cba7db10f0d5</string>
</dict>
</plist>